@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand Colors */
  --color-brand: #54bd95;
  --color-brand-dark: #191d23;
  --color-brand-gray: #a6a6a6;
  --color-brand-light: #f9f8fe;

  /* Fonts */
  --font-sans: var(--font-inter), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden !important;
}
